CREATE DATABASE CHIQUEPIGGY
GO
USE CHIQUEPIGGY 

CREATE TABLE cliente(
	idCliente int IDENTITY(1,1) NOT NULL,
	nome varchar(20) NOT NULL,
 CONSTRAINT PK_cliente PRIMARY KEY CLUSTERED 
(
	idCliente ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE historico(
	idHistorico int IDENTITY (1,1) NOT NULL ,
	idCliente int IDENTITY(1,1) NOT NULL,
	valorDaCompra float NOT NULL,
	dataDaTransacao date NOT NULL,
	pontoGanhos int NOT NULL,
 CONSTRAINT PK_historico PRIMARY KEY CLUSTERED 
(
	idHistorico ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE historico WITH CHECK ADD  CONSTRAINT FK_historico_cliente FOREIGN KEY(idCliente)
REFERENCES cliente (idCliente)

ALTER TABLE historico CHECK CONSTRAINT FK_historico_cliente

